@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: system-ui;
}

#root {
  min-height: 100vh;
}

::selection {
  background: #8b5cf6;
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #4c1d95;
  border-radius: 10px;
}